<p>This is the partial for view 3.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
<table class="table table-striped table-hover">
  <tbody>
     <tr>
      <th>
          <button ng-click="order('propiedad1')">Description</button>
          <span class="sortorder" ng-show="predicate === 'propiedad1'" ng-class="{reverse:reverse}"></span>
      </th>
      <th>
          <button ng-click="order('propiedad2')">Phone Number</button>
          <span class="sortorder" ng-show="predicate === 'propiedad2'" ng-class="{reverse:reverse}"></span>
      </th>
     
    </tr> 
      
    <tr ng-repeat="todo in listado">
      <td>{{todo.propiedad1}}</td>
      <td>{{todo.propiedad2}}</td>
    </tr>
  </tbody>
</table>