<div  ng-show="authenticated" id="page-wrapper"  class="5grid-layout">
<table class="table table-striped table-hover">
  <tbody>
      <tr>
      <th>
          <button ng-click="order('codigo')" class="btn btn-primary btn-large"  >Codigo</button>
          <span class="sortorder" ng-show="predicate === 'codigo'" ng-class="{reverse:reverse}"></span>
      </th>
      <th>
          <button ng-click="order('fecha')" class="btn btn-primary btn-large">Fecha</button>
          <span class="sortorder" ng-show="predicate === 'fecha'" ng-class="{reverse:reverse}"></span>
      </th>
        <th>
          Direccion
      </th>
      <th>
          <button ng-click="order('estado')" class="btn btn-primary btn-large">Estado</button>
          <span class="sortorder" ng-show="predicate === 'estado'" ng-class="{reverse:reverse}"></span>

      </th>
      <th>
          precio pedido
      </th>
      <th>
          Cambiar estado 
      </th>
     
      <th>
          Postres
      </th>
    </tr> 
    
    
    
  <tr ng-repeat-start="todo in listado">
      <td>{{todo.codigo}}</td>
      <td>{{todo.fecha}}</td>      
      <td>{{todo.direccion}}</td>
      <td>{{todo.estado}}</td>
      <td>{{todo.precio}}</td>
  <td><button ng-click="changeState($event,todo.codigo,$index)" class="btn btn-primary btn-large">cambiar estado</button></td> 
 
<!--  Item group inside each category -->
  
  <td ng-repeat="postres in todo.postres">
      <a ng-click="DetallesPostre($event,todo.postres,$index)" > Codigo : {{postres.name}}
      </a>
  </td>
  
  
<!--  Repeat end, closing category group -->
<tr ng-repeat-end></tr>

    <!--
    <tr ng-repeat="todo in listado">
        <td>{{todo.codigo}}</td>
      <td>{{todo.fecha}}</td>      
      <td>{{todo.direccion}}</td>
      <td>{{todo.estado}}</td>
      <td>{{todo.precio}}</td> -->
      
     

          
             
</tr> 

    
    <!--tr ng-repeat="todo1 in listado">
           <td>{{todo1.pedido}}</td-->

  </tbody>
</table>

</div>
<div  ng-show="!authenticated"  id="page-wrapper"  class="5grid-layout">
    <h1> Usted no esta autenticado</h1>
</div>

