<div ng-show="authenticated" id="page-wrapper"  class="5grid-layout"> 
<table class="table table-striped table-hover">
  <tbody>
     <tr>
      <th>
          <button ng-click="order('name')" class="btn btn-primary btn-large">Nombre</button>
          <span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>
      </th>
      <th>
          <button ng-click="order('id.code')" class="btn btn-primary btn-large">Codigo</button>
          <span class="sortorder" ng-show="predicate === 'id.code'" ng-class="{reverse:reverse}"></span>
      </th>
        <th>
          <button ng-click="order('price')" class="btn btn-primary btn-large">Precio</button>
          <span class="sortorder" ng-show="predicate === 'price'" ng-class="{reverse:reverse}"></span>
      </th>
      <th>
          Descripcion

   
      </th>
      <th>
          Imagen

   
      </th>
     
    </tr> 
     
    
    <tr ng-repeat="todo in listadoPostres">
      <td>{{todo.name}}</td>
      <td>{{todo.id.code}}</td>
      <td>{{todo.price}}</td>
      <td>{{todo.description}}</td>
      <td><image src="/postres/{{todo.id.reposteriaNit}}/{{todo.id.code}}/picture" alt="" width="150" height="150"/></td>
     
    </tr>
  </tbody>
</table>
</div>
<div  ng-show="!authenticated" id="page-wrapper"  class="5grid-layout">
    <h1> Usted no esta autenticado</h1>
</div>

