 <div  ng-show="!authenticated" id="page-wrapper"  class="5grid-layout">

		
    <form role="form" ng-submit="login()">
    
    <div class="input-group"  >
    <ul>
        <ul>
            <div class="input-group input-group-lg">                
                <span class="input-group-addon" id="sizing-addon1"> <img src="images/icon_user.png"> </span>
                <!--<input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" >-->
                 <input type="text"  required="true" placeholder="Nit"
                       class="form-control" id="username" name="username" ng-model="credentials.username" aria-describedby="sizing-addon1"/> 
            </div>
        </ul> 
        <br>
        <ul>
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1"> <img src="images/password.png"> </span>
                <input type="password" placeholder="password" required="true"
                    class="form-control" id="password" name="password" ng-model="credentials.password" aria-describedby="sizing-addon1"/>
            </div>
        </ul>   
        <br>
        <ul>
             <button type="submit" class="btn btn-primary btn-large">Submit</button>
        </ul>
    </ul>
</div>  
</form>
	</div>


 <div  ng-show="authenticated" id="page-wrapper"  class="5grid-layout">
   
    
                  
                    <h1><a class="autenticacion">Ya esta autenticado</a></h1>
                
			
    </div>

<!--<p>This is the partial for view Login.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
/p> -->



