<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://desarrollo.is.escuelaing.edu.co:3306/coswgr5?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">coswgr5</property>
    <property name="hibernate.connection.password">gr505</property>
    <mapping class="edu.eci.cosw.postresYa.model.Postre"/>
    <mapping class="edu.eci.cosw.postresYa.model.Reposteria"/>
    <mapping class="edu.eci.cosw.postresYa.model.Usuario"/>
    <mapping class="edu.eci.cosw.postresYa.model.Pedido"/>
    <mapping class="edu.eci.cosw.postresYa.model.Cliente"/>
    

  </session-factory>
</hibernate-configuration>
