
<div   id="page-wrapper"  class="5grid-layout">
  
    <div>
     <div >
         <input type="text" ng-model = "nitR" placeholder="NIT" disable="false" id="nitReposteria" required maxlength="15" />            
         <br> <input type="text" ng-model = "Validarnit" placeholder="confirmar NIT" disable="false" id="nitReposteriaV" required maxlength="15" />            
 
     </div>     
      <br>
     <button ng-click="validarINVIMA()" class="btn btn-primary btn-large"  >validar con el invima</button>
     <br>
     <div  ng-show="validada" div class="input-group input-group-lg">

            <ul>
                <input type="text"  ng-model = "name" placeholder="Nombre" required maxlength="20"/>
            </ul>
            
            <br>
            <ul>
                <textarea type="text"  ng-model = "CoverageRange" placeholder="rango de cobertura" required maxlength="20"></textarea>
            </ul>

            <br>
            <ul>
                <input type="text" ng-model = "direccion" placeholder="Direccion" required="true" maxlength="50">
            </ul>
            <br>
            <ul>
                <input type="password" ng-model = "password" placeholder="Password" required="true" maxlength="20">
            </ul>
            <ul>
                <button ng-click="agregarReposteria()" type="submit" class="btn btn-primary btn-large">Agregar reposteria</button>
                
            </ul>
            

     </div>

  
    </div>
</div>
     
           
